{%extends "layout.html"%}
{% block body %}
    <!-- top section -->
    <div class="home">
      <video autoplay muted loop>
        <source
          src="{{url_for('static',filename='img/vid1.mp4')}}"
          type="video/mp4"
        />
      </video>
      <h1 class="home-content text-center">
        <div>
          Your <strong>happily</strong> ever <strong>after</strong> begins at
          <strong>home.</strong>
        </div>
        <div>
          Come find your <strong>happiest place </strong> with
          <strong>us!</strong>
        </div>
        <div class="text-decoration-none text-nowrap">
          <a>Residential</a> | <a>Commercial</a>
        </div>
        <div
          class="dropdown mt-2 d-flex flex-column flex-sm-row justify-content-center align-items-center"
        >
          <select
            class="form-select w-auto"
            aria-label="Default select example"
          >
            <option selected>Select City</option>
            <option value="">Bangalore</option>
            <option value="">Pune</option>
            <option value="">Delhi</option>
            <option value="">Mumbai</option>
            <option value="">Hyderabad</option>
            <option value="">Ahemdabad</option>
            <option value="">Chennai</option>
          </select>
          <form class="form-inline my-2 my-lg-0 d-flex align-items-center ms-3">
            <input
              class="form-control mr-sm-2 h-50"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="ms-3 btn btn-warning my-2 my-sm-0" type="submit">
              search
            </button>
          </form>
        </div>
      </h1>
    </div>
    <!-- new arrivals section -->
    <div class="new-arrival text-center my-5">
      <h2 class="heading mb-5">New Arrival:</h2>
      <div class="d-flex justify-content-center align-items-center flex-wrap gap-4">
        <div class="card" style="width: 25rem;" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Luxury Villa in Mumbai</h3>
              <div class="text-secondary mb-2">Price: &#8377;12,000,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div>
        <div class="card" style="width: 25rem;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/323705/pexels-photo-323705.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Modern Apartment in Delhi</h3>
              <div class="text-secondary mb-2">Price: &#8377;9,500,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div><div class="card" style="width: 25rem;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/1643389/pexels-photo-1643389.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Cozy Cottage in Bangalore</h3>
              <div class="text-secondary mb-2">Price: &#8377;12,000,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0 w-75 mx-auto"/>
    <!-- trending project section -->
    <div class="trend-proj text-center my-5">
      <h2 class="heading mb-5">Trending projects:</h2>
      <div class="d-flex justify-content-center align-items-center flex-wrap gap-4">
        <div class="card" style="width: 25rem;" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Luxury Villa in Mumbai</h3>
              <div class="text-secondary mb-2">Price: &#8377;12,000,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div>
        <div class="card" style="width: 25rem;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/323705/pexels-photo-323705.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Modern Apartment in Delhi</h3>
              <div class="text-secondary mb-2">Price: &#8377;9,500,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div><div class="card" style="width: 25rem;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/1643389/pexels-photo-1643389.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Cozy Cottage in Bangalore</h3>
              <div class="text-secondary mb-2">Price: &#8377;12,000,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0 w-75 mx-auto"/>
    <!-- what matters section -->
    <div class="text-center overflow-auto my-5">
      <h2 class=" heading mb-5">Filter by What Matters:</h2>
      <div
        class="d-flex justify-content-around align-items-center flex-wrap text-wrap"
      >
        {%for mdata in matterData%}
        <div class="matter-card" data-aos="flip-up" data-aos-delay="{{loop.index}}00">
          <a href="filter/{{mdata.filter}}" class="text-decoration-none"><button class="matter-btn d-block mx-auto align-content-center">
            {{mdata.heading}}
          </button></a>
          {{mdata.title}}
        </div>
        {%endfor%}
      </div>
    </div>
    <hr class="m-0 w-75 mx-auto"/>
    <!-- lets find section -->
    <div class="text-center overflow-auto px-4 my-5">
      <h2 class=" heading mb-5">
        Let's find you a home in the city you love most!
      </h2>
      <div
        class="my-3 let-btn-wrapper d-flex justify-content-around align-items-center align-content-center mx-auto flex-wrap"
      >
        {%for letData in letFindData%}
        <a href="filter/{{letData.filter}}"><button class="let-btn mx-2" data-aos="fade-up-right" data-aos-delay="{{loop.index}}00">{{letData.text}}</button></a>
        {%endfor%}
      </div>
      <div class="fs-5 mb-3">
        We promise, buying property with Wyndo is as easy as catching up with an old friend!
        <!-- todo arrow breadcrum design -->
      </div>
    </div>
    <hr class="m-0 w-75 mx-auto"/>
    <!-- browse section -->
    <div class="text-center overflow-auto mt-5">
      <h2 class="heading mb-5">
        Browse Our Current Exclusives:
      </h2>
      <div
        class="browse-btn-wrapper my-5 d-flex justify-content-around align-items-center align-content-center mx-auto flex-wrap"
      >
        {%for text in browseBtnData%}
        <button class="browse-btn mx-2 my-4 shadow" data-aos="fade-right" data-aos-delay="{{loop.index}}00">{{text}}</button>
        {%endfor%}
      </div>
    </div>
    <hr class="m-0 w-75 mx-auto"/>
    <!-- just like Section -->
    <div class="just-like text-center px-md-4 mt-5">
      <h2 class=" pb-4 heading">
        Just like the good old days
      </h2>
      <div class="fs-5 text-secondary">But better! we'll handel the details so you can focus on your new begining.</div>
      <div class="my-4 fw-semibold fs-4">
        we've got you covered, every step of the way... from loans to moving vans.
      </div>
      <div class="d-flex justify-content-evenly my-4 fs-6 flex-wrap mx-4 mx-md-0">
        <div class="img-card position-relative" data-aos="zoom-in" style="background-image: url(https://plus.unsplash.com/premium_photo-1661619603945-4abeed3cba99?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <div class="card-content">
            <div class="fs-3 fw-medium text-white">Loan Assistance</div>The best loans, handpicked for you.
          </div>
        </div>
        <div class="img-card position-relative" data-aos="zoom-in" data-aos-delay="400" style="background-image: url(https://plus.unsplash.com/premium_photo-1661409078904-42334551db0c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y291cmllcnxlbnwwfHwwfHx8MA%3D%3D);">
        <div class="card-content">
            <div class="fs-3 fw-medium text-white">Packers & Movers</div> Fast, easy moving with our trusted
          </div>
          network.
        </div>
        <div class="img-card position-relative" data-aos="zoom-in" data-aos-delay="800" style="background-image: url(https://plus.unsplash.com/premium_photo-1664299434025-3f288072a615?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGV2JTIwY2FycyUyMGNoYXJnaW5nJTIwc3RhdGlvbnxlbnwwfHwwfHx8MA%3D%3D);">
        <div class="card-content">
            <div class="fs-3 fw-medium text-white">Charging Ahead</div> We'll also set up your EV Station!
          </div>
        </div>
    </div>
      <h2 class="my-5 text-secondary fw-bold">Wait, there's more!</h2>
      <h2 class="my-4 heading">
        Our Concierge  Service:
      </h2>
       
      <div class="my-4 mx-4 text-secondary">
        Your home, our care. Relax and let us handle the day-to-day property management, from tenant screening to maintenance, while providing personalized concierge services tailored to your needs.
      </div>
      <div class="d-flex justify-content-evenly my-4 fs-6 flex-wrap mx-4 mx-md-0">
          <div class="img-card position-relative" data-aos="zoom-in" style="background-image: url(https://plus.unsplash.com/premium_photo-1679923913530-16c91821a213?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
            <div class="card-content">
              <div class="fs-3 fw-medium text-white">Property Tax?</div> We'll take care of the process!
            </div>
          </div>
          <div class="img-card position-relative" data-aos="zoom-in" data-aos-delay="400" style="background-image: url(https://plus.unsplash.com/premium_photo-1678374801323-dc49ddf3ae80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
            <div class="card-content">
              <div class="fs-3 fw-medium text-white">Electricity & Water Bills?</div> We'll facilitate everything!
            </div>
          </div>
          <div class="img-card position-relative" data-aos="zoom-in" data-aos-delay="800" style="background-image: url(https://plus.unsplash.com/premium_photo-1661342406124-740ae7a0dd0e?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
            <div class="card-content">
              <div class="fs-3 fw-medium text-white">Maintenance Fees?</div> We'll make it a breeze!
            </div>
          </div>
      </div>
      <div class="fs-2 mt-5"><strong>Home</strong> sweet <strong>upgraded</strong> home!</div>
      <div
        class="d-flex gap-4 justify-content-around align-items-center flex-wrap text-wrap mb-4"
      >
          <div class="just-div mx-auto align-content-center fs-6 text-secondary" data-aos="flip-left" data-aos-delay="100">
            <i class="fa-solid fa-handshake-angle fs-2"></i>
            <div class=" fw-medium text-black fs-5">From drab to fab:</div> we help you design your home interiors with heart.
          </div>
        <div class="just-div mx-auto align-content-center fs-6 text-secondary" data-aos="flip-left" data-aos-delay="200">
          <i class="fa-solid fa-helmet-safety fs-2"></i>
          <div class="fw-medium text-black fs-5">Safety First:</div> We secure your property with CCTV, alarms and motion sensors-our team's on it!
        </div>
        <div class="just-div mx-auto align-content-center fs-6 text-secondary" data-aos="flip-left" data-aos-delay="300">
          <i class="fa-solid fa-globe fs-2"></i>
          <div class="fw-medium text-black fs-5">Welcome to the Future:</div> Wyndo takes care of all your home automation for you!
        </div>
      </div>
    </div>
    <hr class="m-0 w-75 mx-auto"/>
    <!-- need a hand section -->
     <div class="text-center px-md-4 my-5">
      <h2 class=" heading mb-5">Need a hand? Talk to us - We'll guide you home.</h2>
      <div class="fs-5 text-secondary mb-4">
        Picked, perfected and prepped just for you - Resyd&trade; homes are as move-in-ready as it gets!
      </div>
      <div class="d-flex justify-content-center align-items-center flex-wrap gap-4">
        <div class="card" style="width: 25rem;" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Luxury Villa in Mumbai</h3>
              <div class="text-secondary mb-2">Price: &#8377;12,000,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div>
        <div class="card" style="width: 25rem;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/323705/pexels-photo-323705.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Modern Apartment in Delhi</h3>
              <div class="text-secondary mb-2">Price: &#8377;9,500,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div><div class="card" style="width: 25rem;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400" data-aos-easing="linear">
          <img src="https://images.pexels.com/photos/1643389/pexels-photo-1643389.jpeg" class=" p-3 rounded-5 ratio-16x9">
          <div class="card-body">
            <p class="card-text">
              <h3>Cozy Cottage in Bangalore</h3>
              <div class="text-secondary mb-2">Price: &#8377;12,000,000</div>
              <button type="button" class="bg-warning btn w-100 py-2">View Details</button>
            </p>
          </div>
        </div>
      </div>
      </div>
      <hr class="m-0 w-75 mx-auto"/>
     <!-- redefine section -->
     <div class="text-center px-md-4 mt-5">
      <h2 class="mb-3 heading">
        Redefine your status: 
      </h2>
      <div class="text-secondary fs-5">Discover stunning properties from Dubai to London with undeatabe return-on-investments!</div>
      <div
        class="mt-4 pb-5 d-flex justify-content-around align-items-center align-content-center mx-auto flex-wrap"
      >
      {%for text in redefineData%}
      <div class="img-card position-relative mx-4 mx-md-0" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-delay="{{loop.index}}00" style="background-image: url({{text.img}});">
        <div class="card-content">
          <div class="fs-3 fw-medium text-white">{{text.name}}</div>
        </div>
      </div>
      {%endfor%}
      </div>
     </div>
     <!-- best at section -->
      <div class="text-center mb-5" id="accordionFlushExample">
        <h2 class=" heading">
          Here's what we're best at:
        </h2>
        <div class="d-flex justify-content-around gap-5 gap-md-3 flex-wrap py-5 mx-2">
        {% for data in bestData%}
        <div class="accordion best-acc rounded-5">
          <div class="accordion-item rounded-5 best-acc-sh">
            <h2 class="accordion-header border-bottom rounded-5">
              <button class="accordion-button bg-white collapsed rounded-5 text-wrap shadow-none text-center p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{loop.index}}" aria-expanded="false" aria-controls="flush-collapse{{loop.index}}">
                <span>{{loop.index}}. <strong>{{data.heading}}</strong> {{data.title}}</span>
              </button>
            </h2>
            <div id="flush-collapse{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">{{data.body}}</div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      </div>
      <hr class="m-0 w-75 mx-auto"/>
      <!-- shoppers section -->
       <div class="text-center px-md-4 my-5 pb-4">
        <h2 class="fs-3 pt-2 heading">No. of wyndo- shoppers who've discovered their dream home, here:</h2>
    <div class="fs-5 text-secondary mb-5">Buying a home is like having a Conversation with an old friend. Schedule a Free Consultation: Book a 15-minute call and get personalized guidence.</div>
    {% block calander%}
    {% include "calendar.html" %}
    {% endblock calander %}
       </div>
       <hr class="m-0 w-75 mx-auto"/>
       <!-- why choose section -->
          <h2 class=" text-center pt-2 mt-5 mb-3 heading">why choose wyndo?</h2>
          <div class="fs-3 text-secondary mb-3 text-center"> what sets us apart?</div>
            <div class="pb-5 d-flex flex-wrap gap-4 mx-auto justify-content-evenly text-secondary">
              <div class="choose-text mx-2">
                <img src="{{url_for('static', filename='img/companion.png')}}" alt="img" class="icon-img text-center">
                <div class="fw-medium fs-5 text-black">1. A companion in Your Home Journey :</div> Whether you buy your home through Wyndo or not, we're here for every step of your journey-from designing your interiors to concierge services and helping you move in. Our commitment doesn't waver, even if your final choice isn't with us.
              </div>
              <div class="choose-text mx-2">
                <img src="{{url_for('static', filename='img/quality.png')}}" alt="img" class="icon-img text-center">
                <div class="fw-medium fs-5 text-black">2. Quality We Trust :</div> We only offer properties and projects we'd choose for ourselves. If it's not good enough for us, it's not good enough for you.
              </div>
              <div class="choose-text mx-2">
                <img src="{{url_for('static', filename='img/home.png')}}" alt="img" class="icon-img text-center">
                <div class="fw-medium fs-5 text-black">3. Your Property Hub :</div> Skip the hassle of hunting property by property. With Wyndo, you get access to a full buffet of options, from free to premium. No pressure to make a rushed decision-take your time. Buying a home is a big step, not a race against the clock.
              </div>
              <div class="choose-text mx-2">
                <img src="{{url_for('static', filename='img/need.png')}}" alt="img" class="icon-img text-center">
                <div class="fw-medium fs-5 text-black">4. Tailored Just For You :</div> We know one size doesn't fit all. At Wyndo, it's all about personalizing your experience to match your lifestyle and preferences.
              </div>
            </div>
            <hr class="m-0 w-75 mx-auto"/>
        <!-- ready to join section -->
         <div class="text-center px-md-4 px-3 px-sm-0 my-5">
          <h2 class="heading">Ready to join us on thid journey?</h2>
          <div class="fs-5 text-secondary my-4">Discover how Wyndo can assist you in finding the perfect property or invest. Get in touch with us today!</div>
          <div class=" d-flex flex-column flex-md-row align-items-center justify-content-evenly mx-auto ready-list-wrapper flex-column flex-md-row">
            <div class="img-card position-relative" data-aos="zoom-in" style=" background-image: url(https://images.unsplash.com/photo-1732494644033-fedc311f0442?q=80&w=1031&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); ">
              <div class="card-content">
                <div class="text-center text-white"><div class="fw-bold fs-3">Our Vision</div> To be your one-stop destination for personalised real estate solution and provide an unmatched homebuying esperience.</div>
              </div>
            </div>
            <div class="img-card position-relative" data-aos="zoom-in" data-aos-delay="400" style="background-image: url('https://images.unsplash.com/photo-1719937206094-8de79c912f40?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
              <div class="card-content">
                <div class="text-center text-white"><div class="fw-bold fs-3">Our Mission</div> Our mission is to make homeownership accessible, rewarding and a delight experience. By blending innovative technology with personalised service, we aim to transform how people buy and sell homes in major indian cities-one click at a time.</div>
              </div>
            </div>
          </div>
          </div>
          <hr class="m-0 w-75 mx-auto"/>
          <!-- core value -->
          <h2 class="my-5 mb-4 heading text-center">Our core values</h2>
          <div class="d-flex align-items-center justify-content-evenly flex-column flex-md-row mb-5">
            <div class=" d-flex flex-column flex-md-row align-items-center justify-content-evenly mx-auto ready-list-wrapper">
              <div class="img-card position-relative" data-aos="zoom-in" style="background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="card-content">
                  <div class="text-center text-white"><div class="fw-bold fs-3">Integraty</div> We're all about straight talk and honest dealings. No hidden agendas or shady or practices.</div>
                </div>
              </div>
              <div class="img-card position-relative" data-aos="zoom-in" data-aos-delay="400" style="background-image: url(https://images.unsplash.com/photo-1500134697073-dc9b3b4409c5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="card-content">
                  <div class="text-center text-white"><div class="fw-bold fs-3">Innovation</div> We're the pioneers in the real estate industry, always dreaming up new and exciting ways to help you in your homebuying journey.</div>
                </div>
              </div>
              <div class="img-card position-relative" data-aos="zoom-in" data-aos-delay="800" style="background-image: url(https://plus.unsplash.com/premium_photo-1658527046019-5204f2877ac1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="card-content">
                  <div class="text-center text-white"><div class="fw-bold fs-3">Coustomer Centricity</div>Our clients are at the heart of everything we do. We're dedicated to providing exceptional customer service and exceeding expectations.</div>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-0 w-75 mx-auto"/>
         <!-- about us -->
         <h2 class="text-center heading my-5">About Us</h2>
          <div class="mx-4 mb-4 d-flex flex-column-reverse flex-md-row gap-3 align-items-center">
            <div class="about-text text-secondary">
              <div class=" fw-medium fs-3 text-start ms-4 text-black">With Wyndo, Homebuying is a WYN-WYN!</div>
              <div class="fs-5">
                you desrve a homrbuying experience that's as comferting as your favourite latte. We're here to empower you and synplify the complex. Make your dream home a reality now with Wyndo!
              </div>
            </div>
            <div class="about-img ">
              <img src="{{url_for('static',filename='img/about.png')}}" alt="" srcset="" class="w-100 rounded-bottom-5 rounded-end-5">
            </div>
          </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script>
      AOS.init();
    </script>
{%endblock%}