<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Construction site</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/page.css')}}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: #f59a4b !important;">
      <div class="container-fluid">
        <a class="navbar-brand text-white fs-4 fw-medium" href="/">WYNDO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-5 mb-2 gap-3 gap-lg-5  mb-lg-0 my-3 my-lg-0">
            <li class="nav-item">
              <a class="nav-link active fw-bold fs-5  text-white" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold fs-5  text-white" href="/filter/all">Proprties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold fs-5  text-white" href="/contact">Contact</a>
            </li>
        </div>
      </div>
    </nav>
    <!-- top section -->
    <div class="home">
      <video autoplay muted loop>
        <source
          src="{{url_for('static',filename='img/vid1.mp4')}}"
          type="video/mp4"
        />
      </video>
      <div class="home-content text-center">
        <div>
          Your <strong>happily</strong> ever <strong>after</strong> begins at
          <strong>home.</strong>
        </div>
        <div>
          Come find your <strong>happiest place </strong> with
          <strong>us!</strong>
        </div>
        <div class="text-decoration-none text-nowrap">
          <a>Residential</a> | <a>Commercial</a>
        </div>
        <div
          class="dropdown mt-2 d-flex flex-column flex-sm-row justify-content-center align-items-center"
        >
          <select
            class="form-select w-auto"
            aria-label="Default select example"
          >
            <option selected>Select City</option>
            <option value="">Bangalore</option>
            <option value="">Pune</option>
            <option value="">Delhi</option>
            <option value="">Mumbai</option>
            <option value="">Hyderabad</option>
            <option value="">Ahemdabad</option>
            <option value="">Chennai</option>
          </select>
          <form class="form-inline my-2 my-lg-0 d-flex align-items-center ms-3">
            <input
              class="form-control mr-sm-2 h-50"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="ms-3 btn btn-warning my-2 my-sm-0" type="submit">
              search
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- new arrivals section -->
    <div class="new-arrival text-center mt-5">
      <h2 class="pt-2 heading">New Arrival:</h2>
      <div
        id="carousel-1"
        class="carousel slide cust-carousel-item-wrapper"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          {% for data in apiData%}
          <div
            class="carousel-item {% if loop.index == 1 %} active {% endif %}"
            id="slide{{ loop.index }}"
            data-bs-interval="2000"
          >
            <div
              class="cust-carousel-item-inner-wrapper d-flex justify-content-between mx-auto"
            >
              <div class="bg-white cust-carousel-item rounded-5"></div>
              <div class="bg-white cust-carousel-item rounded-5"></div>
              <div class="bg-white cust-carousel-item rounded-5"></div>
            </div>
          </div>
          {%endfor%}
        </div>
        <div class="text-center mt-3">
          <a
            class="text-decoration-none text-dark"
            type="button"
            data-bs-target="#carousel-1"
            data-bs-slide="prev"
          >
            <span class="">&lt;-</span>
          </a>
          <a href="#" class="text-decoration-none text-dark">view all</a>
          <a
            class="text-decoration-none text-dark"
            type="button"
            data-bs-target="#carousel-1"
            data-bs-slide="next"
          >
            <span class="">-&gt;</span>
          </a>
        </div>
      </div>
    </div>
    <!-- trending project section -->
    <div class="trend-proj text-center">
      <h2 class="pt-2 heading">Trending projects:</h2>
      <div
        id="carousel-2"
        class="carousel slide cust-carousel-item-wrapper"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          {% for data in apiData%}
          <div
            class="carousel-item {% if loop.index == 1 %} active {% endif %}"
            id="slide{{ loop.index }}"
            data-bs-interval="2000"
          >
            <div
              class="cust-carousel-item-inner-wrapper d-flex justify-content-between mx-auto"
            >
              <div class="bg-white cust-carousel-item rounded-5"></div>
              <div class="bg-white cust-carousel-item rounded-5"></div>
              <div class="bg-white cust-carousel-item rounded-5"></div>
            </div>
          </div>
          {%endfor%}
        </div>
        <div class="text-center mt-3">
          <a
            class="text-decoration-none text-dark"
            type="button"
            data-bs-target="#carousel-2"
            data-bs-slide="prev"
          >
            <span class="">&lt;-</span>
          </a>
          <a href="#" class="text-decoration-none text-dark">view all</a>
          <a
            class="text-decoration-none text-dark"
            type="button"
            data-bs-target="#carousel-2"
            data-bs-slide="next"
          >
            <span class="">-&gt;</span>
          </a>
        </div>
      </div>
    </div>
    <!-- what matters section -->
    <div class="text-center overflow-auto">
      <div class="fs-2 pt-2 heading">Filter by <strong>What Matters:</strong></div>
      <div
        class="d-flex justify-content-around align-items-center flex-wrap text-wrap"
      >
        {%for mdata in matterData%}
        <div class="matter-card">
          <a href="filter/{{mdata.filter}}" class="text-decoration-none"><button class="matter-btn d-block mx-auto align-content-center">
            {{mdata.heading}}
          </button></a>
          {{mdata.title}}
        </div>
        {%endfor%}
      </div>
    </div>
    <!-- lets find section -->
    <div class="text-center overflow-auto px-4">
      <div class="fs-2 pt-2 heading">
        Let's find <strong>you</strong> a <strong>home</strong> in the
        <strong>city</strong> you love <strong>most!</strong>
      </div>
      <div
        class="my-4 let-btn-wrapper d-flex justify-content-around align-items-center align-content-center mx-auto flex-wrap"
      >
        {%for letData in letFindData%}
        <a href="filter/{{letData.filter}}"><button class="let-btn mx-2">{{letData.text}}</button></a>
        {%endfor%}
      </div>
      <div class="fs-3 pt-2 mb-4">
        We <strong>promise</strong>, buying <strong>property</strong> with
        <strong>Wyndo</strong> is as <strong>easy</strong> as catching up with
        an old <strong>friend!</strong>
        <!-- todo arrow breadcrum design -->
      </div>
    </div>
    <!-- browse section -->
    <div class="text-center overflow-auto">
      <div class="fs-2 pt-2 heading">
        Browse <strong>Our Current Exclusives:</strong>
      </div>
      <div
        class="browse-btn-wrapper my-5 d-flex justify-content-around align-items-center align-content-center mx-auto flex-wrap"
      >
        {%for text in browseBtnData%}
        <button class="browse-btn mx-2 my-4 shadow">{{text}}</button>
        {%endfor%}
      </div>
    </div>
    <!-- just like Section -->
    <div class="just-like text-center px-md-4">
      <div class="fs-2 py-2 pb-4 heading">
        Just like the <strong>good old days</strong>-but
        <strong>better</strong>! we'll handel the <strong>details</strong> so
        <strong>you</strong> can
        <strong>focus on your <strong>new beginning.</strong></strong>
      </div>
      <div class="fs-2 my-4">
        we've got <strong>you</strong> covered, every <strong>step</strong> of
        the <strong>way</strong>... from <strong>loans</strong> to
        <strong>moving vans.</strong>
      </div>
      <div class="d-flex justify-content-evenly my-4 fs-6 flex-wrap mx-4 mx-md-0">
        <div class="img-card position-relative" style="background-image: url(https://plus.unsplash.com/premium_photo-1661619603945-4abeed3cba99?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <div class="card-content">
            <div class="fs-3 fw-medium text-white">Loan Assistance</div>The best loans, handpicked for you.
          </div>
        </div>
        <div class="img-card position-relative" style="background-image: url(https://plus.unsplash.com/premium_photo-1661409078904-42334551db0c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y291cmllcnxlbnwwfHwwfHx8MA%3D%3D);">
        <div class="card-content">
            <div class="fs-3 fw-medium text-white">Packers & Movers</div> Fast, easy moving with our trusted
          </div>
          network.
        </div>
        <div class="img-card position-relative" style="background-image: url(https://plus.unsplash.com/premium_photo-1664299434025-3f288072a615?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGV2JTIwY2FycyUyMGNoYXJnaW5nJTIwc3RhdGlvbnxlbnwwfHwwfHx8MA%3D%3D);">
        <div class="card-content">
            <div class="fs-3 fw-medium text-white">Charging Ahead</div> We'll also set up your EV Station!
          </div>
        </div>
    </div>
      <div class="my-4">But <strong>Wait,</strong> there's more!</div>
      <div class="my-4">
        Our <strong>Concierge</strong> Service: <strong>Your</strong> home,
        <strong>Our</strong> care.
      </div>
      <div class="my-4 mx-4">
        Relax and let us handle the <strong>day-to-day</strong> property management,
        from <strong>tenant screening </strong> to <strong>maintenance</strong>,
        while providing <strong>personalized</strong> Concierge service
        <strong>tailored</strong> to your <strong>needs</strong>.
      </div>
      <div class="d-flex justify-content-evenly my-4 fs-6 flex-wrap mx-4 mx-md-0">
          <div class="img-card position-relative" style="background-image: url(https://plus.unsplash.com/premium_photo-1679923913530-16c91821a213?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
            <div class="card-content">
              <div class="fs-3 fw-medium text-white">Property Tax?</div> We'll take care of the process!
            </div>
          </div>
          <div class="img-card position-relative" style="background-image: url(https://plus.unsplash.com/premium_photo-1678374801323-dc49ddf3ae80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
            <div class="card-content">
              <div class="fs-3 fw-medium text-white">Electricity & Water Bills?</div> We'll facilitate everything!
            </div>
          </div>
          <div class="img-card position-relative" style="background-image: url(https://plus.unsplash.com/premium_photo-1661342406124-740ae7a0dd0e?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
            <div class="card-content">
              <div class="fs-3 fw-medium text-white">Maintenance Fees?</div> We'll make it a breeze!
            </div>
          </div>
      </div>
      <div><strong>Home</strong> sweet <strong>upgraded</strong> home!</div>
      <div
        class="d-flex gap-4 justify-content-around align-items-center flex-wrap text-wrap py-4"
      >
          <div class="just-div mx-auto align-content-center">
            From <strong>drab</strong> to <strong>fab:</strong> we help you <strong>design your home interiors</strong>with <strong>heart.</strong>
          </div>
        <div class="just-div mx-auto align-content-center">
          <strong>Safety First:</strong> We secure your <strong>property</strong> with <strong>CCTV, alarms</strong> and <strong>motion sensors-</strong>our team's on it!
        </div>
        <div class="just-div mx-auto align-content-center">
          <strong>Welcome to the Future: wyndo</strong> takes care of <strong>all your</strong> home <strong>automation</strong> for you!
        </div>
      </div>
    </div>
    <!-- need a hand section -->
     <div class="text-center px-md-4">
      <div class="fs-2 py-2 heading">Need a hand? <strong>Talk</strong> to us - we'll <strong>guide</strong> you <strong>home.</strong></div>
      <div class="fs-4">
        Picked, perfected and prepped just for you - <strong>Resyd&trade;</strong> homes are as <strong>move-in-ready</strong> as it gets!
      </div>
      <div
        id="carousel-3"
        class="carousel slide cust-carousel-item-wrapper py-4"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          {% for data in apiData%}
          <div
            class="carousel-item {% if loop.index == 1 %} active {% endif %}"
            id="slide{{ loop.index }}"
            data-bs-interval="2000"
          >
            <div
              class="cust-carousel-item-inner-wrapper d-flex justify-content-between mx-auto"
            >
              <div class="bg-white cust-carousel-item rounded-5"></div>
              <div class="bg-white cust-carousel-item rounded-5"></div>
              <div class="bg-white cust-carousel-item rounded-5"></div>
            </div>
          </div>
          {%endfor%}
        </div>
        <div class="text-center mt-3">
          <a
            class="text-decoration-none text-dark"
            type="button"
            data-bs-target="#carousel-3"
            data-bs-slide="prev"
          >
            <span class="">&lt;-</span>
          </a>
          <a href="#" class="text-decoration-none text-dark">view all</a>
          <a
            class="text-decoration-none text-dark"
            type="button"
            data-bs-target="#carousel-3"
            data-bs-slide="next"
          >
            <span class="">-&gt;</span>
          </a>
        </div>
      </div>
     </div>
     <!-- redefine section -->
     <div class="text-center px-md-4">
      <div class="fs-2 py-2 pb-4 heading">
        <strong>Redefine your status:</strong> Discover <strong>stunning</strong> properties from <strong>Dubai</strong> to <strong>London</strong> with undeatabe <strong>return-on-investments!</strong>
      </div>
      <div
        class="mt-4 pb-5 let-btn-wrapper d-flex justify-content-around align-items-center align-content-center mx-auto flex-wrap"
      >
        {%for text in redefineData%}
        <button class="let-btn mx-2">{{text}}</button>
        {%endfor%}
      </div>
     </div>
     <!-- best at section -->
      <div class="text-center" id="accordionFlushExample">
        <div class="fs-2 py-2 heading">
          Here's what we're <strong>best</strong> at:
        </div>
        <div class="d-flex justify-content-around gap-5 gap-md-3 flex-wrap py-5 mx-2">
        {% for data in bestData%}
        <div class="accordion best-acc rounded-5">
          <div class="accordion-item rounded-5 best-acc-sh">
            <h2 class="accordion-header border-bottom rounded-5">
              <button class="accordion-button bg-white collapsed rounded-5 text-wrap shadow-none text-center p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{loop.index}}" aria-expanded="false" aria-controls="flush-collapse{{loop.index}}">
                <span>{{loop.index}}. <strong>{{data.heading}}</strong> {{data.title}}</span>
              </button>
            </h2>
            <div id="flush-collapse{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">{{data.body}}</div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      </div>
      <!-- shoppers section -->
       <div class="text-center px-md-4">
        <div class="fs-3 pt-2 pb-4">No. of <strong>wyndo</strong>- shoppers who've discovered their <strong>dream home</strong>, here:
          <span class="d-flex justify-content-center">
            <span class="digit-box border border-2 border-black" id="box1">
              <span class="digit" id="digit1">0</span>
          </span>
          <div class="digit-box border border-2 border-start-0 border-end-0 border-black" id="box2">
              <div class="digit" id="digit2">0</div>
          </div>
          <div class="digit-box border border-2 border-black" id="box3">
              <div class="digit" id="digit3">0</div>
          </div>
      </span>
      <div class="viewport-observer" id="viewportTrigger"></div>
    </div>
    <div class="fs-4 mb-2">Buying a <strong>home</strong> is like having a <strong>Conversation</strong> with an old <strong>friend.</strong></div>
    <div class="fs-4">
      <strong>Schedule a Free Consultation</strong>: Book a 15-minute call and get <strong>personalized guidence.</strong>
    </div>
       </div>
       <!-- why choose section -->
          <div class="fs-2 text-center pt-2 mb-4 heading">why choose <strong>wyndo</strong>? what sets <strong>us</strong> apart?</div>
            <div class="pb-5 d-flex flex-wrap gap-4 mx-auto justify-content-evenly">
              <div class="choose-text mx-2">
                <img src="{{url_for('static', filename='img/companion.png')}}" alt="img" class="icon-img text-center">
                <div class="fw-medium fs-5">1. A companion in Your Home Journey :</div> Whether you buy your home through Wyndo or not, we're here for every step of your journey-from designing your interiors to concierge services and helping you move in. Our commitment doesn't waver, even if your final choice isn't with us.
              </div>
              <div class="choose-text mx-2">
                <img src="{{url_for('static', filename='img/quality.png')}}" alt="img" class="icon-img text-center">
                <div class="fw-medium fs-5">2. Quality We Trust :</div> We only offer properties and projects we'd choose for ourselves. If it's not good enough for us, it's not good enough for you.
              </div>
              <div class="choose-text mx-2">
                <img src="{{url_for('static', filename='img/home.png')}}" alt="img" class="icon-img text-center">
                <div class="fw-medium fs-5">3. Your Property Hub :</div> Skip the hassle of hunting property by property. With Wyndo, you get access to a full buffet of options, from free to premium. No pressure to make a rushed decision-take your time. Buying a home is a big step, not a race against the clock.
              </div>
              <div class="choose-text mx-2">
                <img src="{{url_for('static', filename='img/need.png')}}" alt="img" class="icon-img text-center">
                <div class="fw-medium fs-5">4. Tailored Just For You :</div> We know one size doesn't fit all. At Wyndo, it's all about personalizing your experience to match your lifestyle and preferences.
              </div>
            </div>
        <!-- ready to join section -->
         <div class="text-center px-md-4 px-3 px-sm-0 mb-5">
          <h2 class="heading">Ready to join us on thid journey?</h2>
          <div class="fs-4 mb-3">Discover how Wyndo can assist you in finding the perfect property or invest. Get in touch with us today!</div>
          <div class=" d-flex flex-column flex-md-row align-items-center justify-content-evenly mx-auto ready-list-wrapper flex-column flex-md-row">
            <div class="img-card position-relative" style=" background-image: url(https://images.unsplash.com/photo-1732494644033-fedc311f0442?q=80&w=1031&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); ">
              <div class="card-content">
                <div class="text-center text-white"><div class="fw-bold fs-3">Our Vision</div> To be your one-stop destination for personalised real estate solution and provide an unmatched homebuying esperience.</div>
              </div>
            </div>
            <div class="img-card position-relative"  style="background-image: url('https://images.unsplash.com/photo-1719937206094-8de79c912f40?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
              <div class="card-content">
                <div class="text-center text-white"><div class="fw-bold fs-3">Our Mission</div> Our mission is to make homeownership accessible, rewarding and a delight experience. By blending innovative technology with personalised service, we aim to transform how people buy and sell homes in major indian cities-one click at a time.</div>
              </div>
            </div>
          </div>
          <!-- core value -->
          <h2 class="mt-5 mb-4 heading">Our core values</h2>
          <div class="d-flex align-items-center justify-content-evenly flex-column flex-md-row">
            <div class=" d-flex flex-column flex-md-row align-items-center justify-content-evenly mx-auto ready-list-wrapper">
              <div class="img-card position-relative" style="background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="card-content">
                  <div class="text-center text-white"><div class="fw-bold fs-3">Integraty</div> We're all about straight talk and honest dealings. No hidden agendas or shady or practices.</div>
                </div>
              </div>
              <div class="img-card position-relative" style="background-image: url(https://images.unsplash.com/photo-1500134697073-dc9b3b4409c5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="card-content">
                  <div class="text-center text-white"><div class="fw-bold fs-3">Innovation</div> We're the pioneers in the real estate industry, always dreaming up new and exciting ways to help you in your homebuying journey.</div>
                </div>
              </div>
              <div class="img-card position-relative" style="background-image: url(https://plus.unsplash.com/premium_photo-1658527046019-5204f2877ac1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="card-content">
                  <div class="text-center text-white"><div class="fw-bold fs-3">Coustomer Centricity</div>Our clients are at the heart of everything we do. We're dedicated to providing exceptional customer service and exceeding expectations.</div>
                </div>
              </div>
            </div>
          </div>
         </div>
         <!-- about us -->
         <h2 class="text-center heading mb-4">About Us</h2>
          <div class="mx-4 mb-4 d-flex flex-column-reverse flex-md-row gap-3 align-items-center">
            <div class="about-text">
              <div class="fs-2 fw-medium">With Wyndo, Homebuying is a WYN-WYN!</div>
              <div class="fs-4">
                you desrve a homrbuying experience that's as comferting as your favourite latte.
              </div>
              <div class="fs-4">
                We're here to empower you and synplify the complex. Make your dream home a reality now with Wyndo!
              </div>
            </div>
            <div class="about-img ">
              <img src="{{url_for('static',filename='img/about.png')}}" alt="" srcset="" class="w-100 rounded-bottom-5 rounded-end-5">
            </div>
          </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
